.splash-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:960px;
  height: 36px;
  font-family: 'helvetica';
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
}

.left-splash-header-nav {
  display: flex;
  width: 756px;
  min-width: 756px;
}

.right-splash-header-nav{
  width: 186.78px;
  min-width: 186.78px;
}

.left-splash-header-elements li{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 9px;
  padding-bottom: 8px;
}

.left-splash-header-elements li:hover{
  border-bottom: 2px solid white;
}

.left-splash-header-elements li:active {
  color: gray;
}


.not-logged-in, .logged-in {
  display: flex;
  flex-direction: row;
}

.not-logged-in-login {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 9px;
  padding-bottom: 8px;
  margin-right: 12px;
}

.signup-link {
  width: 100%;
  padding: 7px 24px 8px 24px;
}

.not-logged-in-login:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}

.not-logged-in-login:active {
  color: gray;
}

.not-logged-in-login a {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 9px;
  padding-bottom: 8px;
}

.not-logged-in-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 2px solid white;
}

.not-logged-in-signup:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.not-logged-in-signup:active {
  color: lightgray;
}

.logged-in-notifications {
  margin-left:47px;
  display: inline-block;
  width: 76.424px;
  height: 35.972px;
}

.message-icon, .profile-icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  color: white;
  fill: currentColor;
  padding: 6px;
}

.profile-icon {
  margin-left: 4px;
}

.message-icon:hover, .profile-icon:hover {
  border-radius: 3px;
  background-color: rgba(51,51,51,0.3);
  cursor: pointer;
}

.user-nav{
  display: inline-block;
  width: 58px;
  height: 38px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  overflow: hidden
}

.user-nav:hover, .user-nav:visited{
  background: rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.logged-in-user-avatar-clickable {
  display: inline-block;
  height: 38px;
  width: 38px;
}

.user-nav-clickable {
  display: inline-block;
  height: 14px;
  width: 14px;
  position: relative;
  top: -13px;
  right: -3px;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  color: white;
  fill: currentColor;
}

.splash-container-a {
  color: white;
  font-weight: 700;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 960px;
}


.splash-container-c {
  margin: auto;
  min-width: 1020px;
}

.main-footer-container {
  border-top: 1px solid #ccc;
  background-color: rgb(245,245,245);
  margin: auto;
  min-width: 1020px;
}

.splash-container-inner{
  margin: auto;
  padding-top: 80px;
  width: 960px;
}

.splash-logo-container{
  height: 80px;
  text-align: center;
  margin-bottom: 48px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.temp-button {
  position: absolute;
  left: 50%;
}

.splash-container-a-background {
  background: image-url("im3.jpg");
  padding-top: 30px;
  display: block;
  width: 100%;
  margin: 0;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.25);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 1020px;
}

.search-bar-container {
  height: 63px;
  display: block;
}
